#countdown  {
  display: block;
  font-size: 65px;
  padding:60px;
  padding-top: 25px;
}
#sound  {
  padding:50px;
}
#egg  {
  text-align: end;
  opacity:0;
}
a {
  color:inherit;
}
.Yes_HB  {
  /* Image Location */
  background-image: url("min_final.png");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  /* Font Colour */
  color:black;
}
.No_HB  {
  /* Image Location */
  background-image: url("nohorseballon.png");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  /* Font Colour */
  color:white;
}
#changeimg  {
  float: right;
  /* position sticky */
  position: sticky;
  top:80px;
  font-size: 20px;
}
